Walnut AI Assessment .json
{
  "name": "Walnut AI Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-tweets",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        0
      ],
      "id": "6551b619-5381-44e0-9e8a-26ce603bb13d",
      "name": "Webhook",
      "webhookId": "bc9f3b3e-25ad-4b37-b637-fba94484f22c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "306666c0-d564-42c3-90fa-70429e26b10e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a social media strategist.\\n\\nBrand Name: {{$json.body.brand}}\\nIndustry: {{$json.body.industry}}\\nCampaign Objective: {{$json.body.objective}}\\nProducts: {{$json.body.products}}\\n\\n1. Summarize the brand voice in 3 bullet points.\\n2. Generate 10 tweets matching the brand tone under 280 characters.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "a71582f7-7db4-4dd6-8360-c1d08f247175",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd2c615f-3b5f-44b4-9658-a0482c616879",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b38f22dadfe8ae12f3c07564dc00e3b1af24abab6073f0bea7a1e14f09f39a7"
  },
  "id": "7LVqVvgPWtuntuP7",
  "tags": []
}